<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KleiderAnker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="header-logo" href="index.html"><img src="images/Logo_KleiderAnker.png" width="80"
                        class="me-2">KleiderAnker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title">Menü</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item"><a class="nav-link" href="index.html">Startseite</a></li>
                            <li class="nav-item"><a class="nav-link" href="spenden.html">Spende registrieren</a></li>
                            <li class="nav-item"><a class="nav-link" href="kontakt.html">Kontakt</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-5" id="app">
        <div v-if="!istRegistriert">
            <h1 class="mb-4">Neue Spende registrieren</h1>
            <div class="card card-body shadow-sm" style="width: fit-content;">
                <h4 class="card-title mb-4">Wie möchten Sie die Spende übergeben?</h4>
                <div class="mb-4">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="abholung" value="abholung"
                            v-model="uebergabeArt">
                        <label class="form-check-label" for="pickup">
                            Abholung durch Sammelfahrzeug (nur PLZ-Gebiet 64xxx)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="bringen" value="bringen"
                            v-model="uebergabeArt">
                        <label class="form-check-label" for="bringen">
                            Persönliche Übergabe an der Geschäftsstelle
                        </label>
                    </div>
                </div>

                <div v-if="uebergabeArt === 'abholung'" class="mt-4 mb-4">
                    <h5 class="mb-3">Abholadresse</h5>
                    <div class="mb-3">
                        <label class="form-label">Vorname</label>
                        <input type="text" class="form-control" v-model="adresse.vorname">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" v-model="adresse.name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Straße und Hausnummer</label>
                        <input type="text" class="form-control" v-model="adresse.strasse">
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">PLZ</label>
                            <input type="text" class="form-control" v-model="adresse.plz" placeholder="" maxlength="5">
                        </div>
                        <div class="col-md-8 mb-3">
                            <label class="form-label">Stadt</label>
                            <input type="text" class="form-control" v-model="adresse.stadt">
                        </div>
                    </div>
                </div>
                <div v-if="uebergabeArt === 'bringen'" class="mt-4 mb-4">
                    <h5 class="mb-3">Ihre Angaben</h5>
                    <div class="mb-3">
                        <label class="form-label">Vorname</label>
                        <input type="text" class="form-control" v-model="adresse.vorname">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" v-model="adresse.name">
                    </div>

                    <h5 class="pt-3">Details zur Spende</h5>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Art der Kleidung</label>
                        <select class="form-select" v-model="spende.kleidungsart">
                            <option disabled value="">Bitte auswählen...</option>
                            <option>Männerkleidung</option>
                            <option>Frauenkleidung</option>
                            <option>Kinderkleidung</option>
                            <option>Schuhe & Accessoires</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Aktuelles Krisengebiet</label>
                        <select class="form-select" v-model="spende.krisengebiet">
                            <option disabled value="">Bitte auswählen...</option>
                            <option>Erdbebengebiet Türkei</option>
                            <option>Ukraine Nothilfe</option>
                            <option>Lokale Obachlosenhilfe</option>
                        </select>
                    </div>
                    <a href="#" class="spenden-button btn btn-primary ms-2 mt-4 w-50"
                        @click.prevent="registrieren">Spende
                        jetzt registrieren</a>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="card-body p-4 text-start">
                <h1 class="mb-4">Vielen Dank!</h1>
                <h5><strong>Zusammenfassung:</strong></h5>
                <div class="mt-4">
                    <p>Vorname: {{ adresse.vorname }} <br>
                        Nachname: {{ adresse.name }}<br>
                        Art der Kleidung: {{spende.kleidungsart }} <br>
                        Krisengebiet: {{ spende.krisengebiet}} <br>
                        Registriert am: {{ registrierungsDatum }} Uhr</p>
                </div>
                <div v-if="uebergabeArt === 'bringen'" class="mt-4">
                    <h6> Bitte bringen Sie Ihre Spende bei unserer Geschäftsstelle vorbei. <br>
                        Vor Ort können Sie Ihre Spende am Tablet abschließend registrieren.</h6>
                    <div class="mt-4">
                        <p>KleiderAnker Zentrale <br>
                            Musterstraße 1 <br>
                            64720 Michelstadt</p>
                    </div>
                </div>
                <div v-if="uebergabeArt === 'abholung'" class="mt-4">
                    <h6> Wir holen die Spende bei Ihnen ab:</h6>
                    <div class="mt-4">
                        <p>Straße: {{ adresse.strasse }}<br>
                            Stadt: {{ adresse.plz }}</p>
                    </div>
                    <div>
                        <a href="spenden.html" class="btn btn-outline-success mt-3">Noch eine Spende erfassen</a>
                    </div>
                </div>



    </main>
    <footer class="main-footer mt-5">
        <div class="container">
            <span>&copy; 2026 KleiderAnker</span>
            <div class="footer-links">
                <a href="impressum.html">Impressum</a>
                <a href="datenschutz.html">Datenschutz</a>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <script src="scripts.js"></script>
</body>

</html>