.header-logo {
    color: #000000;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-primary {
    background-color: #4695ba;
    border-color: #000000;
    border-width: 2px;

}

body .btn-primary:hover {
    background-color: #347eb4 !important;
    border-color: #000000 !important;
}

.btn-outline-primary {
    border-color: #BDD8B1;
    border-width: 2px;
    color: #000000;
}

.btn-outline-primary:hover {
    background-color: #BDD8B1 !important;
    border-color: #000000 !important;
    color: #000000 !important;
}

.main-footer {
    background-color: #BDD8B1;
    color: black;
    padding: 5px;
    border-top: 1px solid #000000;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer a {
    color: #000000;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    transition: color 0.3s ease;

}

.main-footer a:hover {
    color: azure;
}